<h1>Index Users</h1>
<section class="user-list">
<div class="table-responsive">
  <table class="table table-hover">
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <th>
            <%= image_tag user.photo, width: 100 %>
          </th>
          <td>
            <h3><%= link_to user.name, user_path(user) %></h3>
          </td>
          <td>
            <p>Number of post: <%= user.posts.count %></p>
          </td>
        </tr>
        <% end %>
    </tbody>
  </table>
</div>
</section>