<section class="post-index">
  <%= render partial: "shared/user_card", locals: { user: @user } %>
  <div class="all-post">
    <%= render partial: "shared/post_comment_card", locals: { posts: @posts } %>
    <!-- Pagination with kaminari -->
    <h3><center><%= paginate @posts %></center></h3>    
  </div>
  <br><br>
  <p><%= link_to "Back", :back %></p>
</section>