<section class="post-index">
  <%= render partial: "shared/user_card", locals: { user: @user } %>
  <div class="all-post">
    <%= render partial: "shared/post_comment_card", collection: @posts %>
    <!-- Pagination -->
  </div>
</section>