<section class="post-show">
    <h1>Show/Deatils post</h1>
    <div class="post-header">
        <h3>Post #1 by username</h3>
        <i>Comments:x, Likes:y</i>
        <br><br>
    </div>
    <div class="post-content">
        <%= @posts.text %>
    </div>
    <br><br>
</section>
<hr />
<section class="post-comments">
    <ul>
      <li>
        <p>Username: Comment 1</p>
      </li>
      <li>
        <p>Username: Comment 2</p>
      </li>
      <li>
        <p>Username: Comment 3</p>
      </li>
      <li>
        <p>Username: Comment 4</p>
      </li>
      <li>
        <p>Username: Comment 5</p>
      </li>
      <li>
        <p>Username: Comment 6</p>
      </li>
      <li>
        <p>Username: Comment 7</p>
      </li>
      <li>
        <p>Username: Comment 8</p>
      </li>
      <li>
        <p>Username: Comment 9</p>
      </li>
      <li>
        <p>Username: Comment 10</p>
      </li>
    </ul>    
  </section>